body {
  font-family: Arial;
  width: 90%;
  margin: 1em;
}

#main-nav li {
  display: inline-block;
}

.fe {
  margin-bottom: 0.7em;
}

.fieldname {
  float: left;
  width: 7em;
  text-align: right;
  padding-right: 1em;
}

.dimension {
  width: 9em;
}

th {
  border-bottom: 2px solid #111;
}

td {
  padding: 0.7em 1em 0.7em 1em;
}

#mulch-update {
  display: none;
}

#mulch-totalrow {
  display: none;
}

#mulch-save {
  display: none;
}

#cistern-update {
  display:none;
}

#cistern-display {
  display: none;
}

#cistern-nav {
  margin-left: 0;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
}

#cistern-nav li {
  display: inline-block;
  width: 90px;
  height: 30px;
  margin: 1em;
  padding-top: 0.8em;
  border-radius: 4px;
  text-align: center;
}

#cistern-table-labor {
  display: none;
}

#cistern-table-materials {
  display: none;
}

.selected {
  background-color: #1F47FF;
  color: white;
}
