nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 1.5rem;
	margin-right: 1.5rem;
}

#main-nav li {
  display: inline-block;
	text-transform: uppercase;
	margin-left: 1rem;
}

#main-nav li a {
	text-decoration: none;
	font-size: 1.5em;
}

.total-row {
	font-weight: bold;
}

.money {
	text-align: right;
}

.icon-pencil2 {
	margin-right: 1em;
}

#projectForm {
  display: none;
}

#project-summary {
  display: none;
}

#rainwise-display {
	display: none;
}

#rainwise-edit-buttons, #rg-edit-buttons, #cistern-edit-buttons {
	display: inline-block;
	margin-left: 1em;
}

#rgInfiltContainer {
	display: none;
}

#rgVegInfContainer {
	display: none;
}

#rgInflow2-container {
	display: none;
}

#rgOutflow2-container {
	display: none;
}

#rgVegOutContainer {
	display: none;
}

#rg-display {
	display: none;
}

#rg-table-labor {
  display: none;
}

#rg-table-materials {
  display: none;
}

#bulk-display {
	display: none;
}

#cistern-display {
  display: none;
}

#cistern-edit-buttons span {
  margin-left: 1em;
}

#cistern-table-labor {
  display: none;
}

#cistern-table-materials {
  display: none;
}
